//********************************************************
// Flexbox Creator
//********************************************************
@mixin createflexbox(
  $display:flex,
  $direction:null,
  $wrap:null,
  $justify:null
){
  display:$display;
  flex-direction:$direction;
  flex-wrap:$wrap;
  justify-content:$justify;
  @content;
}

//********************************************************
// Flexbox Grid THingy
//********************************************************
@mixin colflex($colsize){
  flex: 1;
  margin:5px;
}

//********************************************************
// Media Query Mixin
//********************************************************
@mixin desktop{
  @media (min-width:$navbreak){
    @content;
  }
}

//********************************************************
// Make Slightly bigger on hover
//********************************************************
@mixin makebigger(){
  @include trans(transform);
  &:hover{
    transform:scale(1.03);
  }
}

//********************************************************
// Button Maker
//********************************************************
@mixin button($color){
  width:100%;
  text-transform: uppercase;
  padding:15px;
  border:none;
  border-radius:$borderradius;
  color:white;
  font-weight:bold;
  background:$color;
  cursor: pointer;
  +*{
    margin-top:20px;
  }
  @include makebigger();
}

//********************************************************
// Horizontally Center Content
//********************************************************
@mixin centerer(){
  display:block;
  margin: 0 auto;
  @content;
}

//********************************************************
// Transition Mixin
//********************************************************
@mixin trans($property){
  transition: $property $transitiontime $transitioneasing;
}

//********************************************************
// Apply themecolor
//********************************************************
@mixin gridthemecolor($col){
  &.theme__colors {
  background: map-get($gridcolors,$col);
  @include desktop{
    text-align: center;
  }
  }
}
