//********************************************************
// Fonts
//********************************************************
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,800');
@import url('https://fonts.googleapis.com/css?family=Kavivanar');
$font-primary: 'Raleway', sans-serif;
$font-quote: 'Kavivanar', cursive;

//********************************************************
// Breakpoints
//********************************************************
$navbreak:768px;


//********************************************************
// Grid Stuff
//********************************************************
$g-col-width: 40px;
$g-gutter-width: 10px;
$g-col-count: 12;
$g-container-max-width:1000px;

//********************************************************
// General
//********************************************************
$gutter:30px;
$indent:20px;
$borderradius:5px;
$transitiontime: 0.2s;
$transitioneasing: ease-in-out;
$maxwidth:1000px;

//********************************************************
// Colors
//********************************************************
//Brand
$brandcolors:(
  'primary':#58e1c1,
  'link':#54defc,
  'content':#828282
);

//Buttons
$buttoncolors: (
  'default':#51ddfc,
  'success':#63cc82,
  'error':#e4757a,
  'warning':#fd7856,
  'info':#927bc1
);

//Grid
$gridcolors: (
  '12':#80e8d1,
  '8':#fd9f85,
  '7':#ec9fa3,
  '6':#3fabca,
  '5':#88d9a0,
  '4':#7ee6fd,
  '3':#deb2ee
);

//********************************************************
// Lists
//********************************************************
$buttonslist: ('default','success','error','warning','info');
