/*Variables SCSS File*/

//********************************************************
// Fonts
//********************************************************


//********************************************************
// Breakpoints
//********************************************************

//********************************************************
// Colors
//********************************************************
//Brand
$brandcolor-primary: #58e1c1;
$brandcolor-link: #54defc;
$brandcolor-content: #828282;

//Buttons
$btncolor-default: #51ddfc;
$btncolor-success:#63cc82;
$btncolor-error:#e4757a;
$btncolor-warning:#fd7856;
$btncolor-info:#927bc1;

//Grid
$gridcol12-color:#80e8d1;
$gridcol8-color:#fd9f85;
$gridcol7-color:#ec9fa3;
$gridcol6-color:#3fabca;
$gridcol5-color:#88d9a0;
$gridcol4-color:#7ee6fd;
$gridcol3-color:#deb2ee;
