.nav{ //the UL
  @include createflexbox($direction:column);
  margin:0;
  padding:0;
  list-style: none;
  @include desktop{
    flex-direction:row;
    float:right;
  }
}

.nav__item{ //The LI
  text-align:center;
  a{
    display:inline-block;
    color:map-get($brandcolors,'content');
    text-decoration: none;
    padding:15px;
    width:100%;
    background:none;
    border-radius: $borderradius;
    @include trans($property:color);
    @include trans(background);
    &:hover{
      background:map-get($brandcolors,'primary');
      color:white;
      border-radius:$borderradius;
    }
  }
}
